[Unit]
Description=Web-proxy for join containers on ssdomain

[Service]
ExecStart=/usr/bin/forever -v /opt/web-proxy/forever.json
Type=simple

User=root
Group=root

[Install]
WantedBy=multi-user.target
